<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PeopleDAO</servlet-name>
        <servlet-class>model.ejb.PeopleDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowData</servlet-name>
        <servlet-class>org.data.ShowData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowQ</servlet-name>
        <servlet-class>org.question.ShowQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAns</servlet-name>
        <servlet-class>org.data1.ViewAns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAns1</servlet-name>
        <servlet-class>org.view.ViewAns1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAns2</servlet-name>
        <servlet-class>org.ans2.NewAns2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAns4</servlet-name>
        <servlet-class>com.answer.ViewAns4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VAns</servlet-name>
        <servlet-class>com.Ans.VAns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>answ</servlet-name>
        <servlet-class>ans.answ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PASS</servlet-name>
        <servlet-class>com.Pass.PASS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendPassword</servlet-name>
        <servlet-class>org.gmail.sendPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>g1</servlet-name>
        <servlet-class>Hello.g1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PeopleDAO</servlet-name>
        <url-pattern>/PeopleDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowData</servlet-name>
        <url-pattern>/ShowData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowQ</servlet-name>
        <url-pattern>/ShowQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAns</servlet-name>
        <url-pattern>/ViewAns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAns1</servlet-name>
        <url-pattern>/ViewAns1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAns2</servlet-name>
        <url-pattern>/NewAns2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAns4</servlet-name>
        <url-pattern>/ViewAns4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VAns</servlet-name>
        <url-pattern>/VAns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>answ</servlet-name>
        <url-pattern>/answ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PASS</servlet-name>
        <url-pattern>/PASS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendPassword</servlet-name>
        <url-pattern>/sendPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>g1</servlet-name>
        <url-pattern>/g1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
